.gitsecret/keys/random_seed
.config/ntfd/config.toml
.java/.userPrefs/jetbrains/jetprofile/prefs.xml
.config/JetBrains/Rider2022.1/rider64.vmoptions
.config/JetBrains/Rider2022.1/rider.key
.local/share/JetBrains/crl
.local/share/JetBrains/bl
